<form method="post" action="/add-coursework" class="add-coursework-form">
    <input type="text" name="title" placeholder="title" />
    <textarea name="milestones" placeholder="milestones"></textarea>
    <p class="form-text"> Due Date:</p>
    <input type="date" name="duedate" />
    <p class="form-text"> Completion Date:</p>
    <input type="date" name="completiondate" />
    <input type="submit" value="Add Coursework" />