nav
    ul
        block links
        li
            a(href="/home") Home
        li
            a(href="/view-add-coursework") Add
        li
            a(href="/view-remove-coursework") Remove
        li
            a(href="/view-modify-coursework") Modify
        li
            a(href="/view-share-coursework") Share
        li
            a(href="/view-all-coursework") List All Incomplete
        li(style="float:right;padding:0px;")
            a(href="/logout") Logout