<form method="post" action="/login" class="login-form">
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="Login"/>
    <p class="message"> Not registered
        <a href="/register" class="form-show-hide"> Create an account </a>
    </p>
</form>