<form method="post" action="/register" class="register-form">
    <input type="text" name="username" placeholder="username"/>
    <input type="text" name="fullname" placeholder="full name"/>
    <input type="text" name="programme" placeholder="programme"/>
    <input type="number" name="age" placeholder="age"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="password" name="confirm-password" placeholder="confirm password"/>
    <input type="submit" value="Register"/>
    <p class="message"> Already registered?
        <a href="#" class="form-show-hide"> Sign In </a>
    </p>
</form>