<form method="post" action="/remove-coursework">
    <select name="courseworkid">
        <option value="0"> -Select Coursework-</option>
        {{#courseworksIdTitles}}
            <option value={{id}}> {{title}} </option>
        {{/courseworksIdTitles}}
    </select>
    <input type="submit" value="Remove Coursework" />
</form>