{{> includes/header }}

 {{#opp}}
        <h3 class="greeting"> Welcome  {{name}}</h3>
 {{/opp}}

    {{> includes/navigation}}
    <div class="dashboard">
        <div class="student">
            <h4 class="greeting"> Welcome to coursework scheduling app </h4>
        </div>
    </div>

{{> includes/footer }}