extends layout

mixin message(opp, name)
    if(opp)
        h3.greeting Welcome  
            span=name
    
    h4.greeting Welcome to coursework scheduling app

block content
    include includes/header
    .dashboard 
        .student 
            +message(opp, name)