doctype html
html(lang="en")
    head
        title=title
        include includes/styles
    body
     .page-wrapper
        h3(class="top-heading") Coursework Project Scheduling App
        block content